* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
}

body {
  font-size: 14rem;
  width: 50vw;
  margin: auto;
}

.imgIndex {
  width: 300px;
  height: 300px;
}

.imgPequeña {
  width: 150px;
  height: 150px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionIndex {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sectionDesServicios {
  display: flex;
  align-items: center;
}

.sectionIndexdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 200px;
  height: 30px;
  border: none;
  color: white;
  background-color: darkblue;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 14rem;
  cursor: pointer;
  margin: 20rem 0rem;
}

.botonesServicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
}

.buttonIzquierda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonIzquierdaEstilo {
  width: 200px;
  height: 30px;
  border: none;
  color: white;
  background-color: darkblue;
  border-bottom-left-radius: 15px;
  font-size: 14rem;
  cursor: pointer;
  margin: 20rem 0rem;
}
.buttonDerecha {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonDerechaEstilo {
  width: 200px;
  height: 30px;
  border: none;
  color: white;
  background-color: darkblue;
  border-top-right-radius: 15px;
  font-size: 14rem;
  cursor: pointer;
  margin: 20rem 0rem;
}

.buttonDerechaEstiloCancelar {
  width: 200px;
  height: 30px;
  border: none;
  color: white;
  background-color: gray;
  border-top-right-radius: 15px;
  font-size: 14rem;
  cursor: pointer;
  margin: 20rem 0rem;
}
